@import '../../lib/core-dom.scss';

$header-height: 48px;

.header {
  background-color: white;
  border-bottom: 1px solid gray;
}

.header-wrapper {
  @include l-flex(row, center, space-between);
  @include l-container();
  @include c-size(x, $header-height);
  padding: 0 16px;
}

.header-logo {
  @include btn-label(0 15px, $header-height);
  @include btn--disabled();
}

.header-login {
  @include btn-label(0 15px, $header-height);
}
